<div id="app">
  <!-- primeira via do formulario de preenchimento -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="1" colspan="12">
          <h1 class="title text-center">
            Relatório de Conduta
            <span class="pull-right">
              <img src="http://safetruck.com.br/wp-content/uploads/2016/04/oie_transparent-2.png" alt="SafeTruck">
            </span>
          </h1>
        </th>
      </tr>
      <tr>
        <td rowspan="1" colspan="12"></td>
      </tr>
      <tr>
        <td rowspan="1" colspan="6" class="col-md-6">
          Placa: {{params.plaque}}
        </td>
        <td rowspan="1" colspan="6" class="col-md-6">
          Início: {{formatDate params.dtIni}} <br> Término: {{formatDate params.dtEnd}}
        </td>
      </tr>
      <tr>
        <td rowspan="1" colspan="12"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="1" colspan="12">
          <h2 class="text-center">Imprudências</h2>
        </td>
      </tr>
      <tr>
        <td rowspan="1" colspan="12" id="imprudencias">
          <div class="col-xs-10">Nº de Excessos de Velocidade (+90Km/h)</div>
          <div class="col-xs-2">{{obj.overSpeedingsTotal}}</div>
          <div class="col-xs-10">Nº de Passagens por Zonas perigosas (+40Km/h)</div>
          <div class="col-xs-2">{{obj.passOverDangerZones}}</div>
          <div class="col-xs-10">Km Acumulado</div>
          <div class="col-xs-2">{{round obj.kmAcumulated 2}}</div>
          <div class="col-xs-10">Relação km em Excesso de Velocidade/Km Acumulado</div>
          <div class="col-xs-2">{{round obj.overSpeedingsXKmAcumulated 2}} </div>
          <br><br><br><br><br><br><br><br><br><br>
          <span class="col-xs-12">
            <p class="col-xs-6 text-center">
              ______________________________ <br>
              Motorista
            </p>
            <p class="col-xs-6 text-center">
              ______________________________ <br>
              Transportadora
            </p>
            <p class="col-xs-6 text-center">
              ______________________________ <br>
              Nome
            </p>
          </span>
        </td>
      </tr>
      <tr>
        <td class="corte" rowspan="1" colspan="12"></td>
      </tr>
    </tbody>
  </table>
  <div class="pagebreak"> </div>
  <!-- segunda via do formulario de preenchimento -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="1" colspan="12">
          <h1 class="title text-center">
            Relatório de Conduta
            <span class="pull-right">
              <img src="http://safetruck.com.br/wp-content/uploads/2016/04/oie_transparent-2.png" alt="SafeTruck">
            </span>
          </h1>
        </th>
      </tr>
      <tr>
        <td rowspan="1" colspan="12"></td>
      </tr>
      <tr>
        <td rowspan="1" colspan="6" class="col-md-6">
          Placa: {{params.plaque}}
        </td>
        <td rowspan="1" colspan="6" class="col-md-6">
          Início: {{formatDate params.dtIni}} <br> Término: {{formatDate params.dtEnd}}
        </td>
      </tr>
      <tr>
        <td rowspan="1" colspan="12"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="1" colspan="12">
          <h2 class="text-center">Imprudências</h2>
        </td>
      </tr>
      <tr>
        <td rowspan="1" colspan="12" id="imprudencias">
          <div class="col-xs-10">Nº de Excessos de Velocidade (+90Km/h)</div>
          <div class="col-xs-2">{{obj.overSpeedingsTotal}}</div>
          <div class="col-xs-10">Nº de Passagens por Zonas perigosas (+40Km/h)</div>
          <div class="col-xs-2">{{obj.passOverDangerZones}}</div>
          <div class="col-xs-10">Km Acumulado</div>
          <div class="col-xs-2">{{round obj.kmAcumulated 2}}</div>
          <div class="col-xs-10">Relação km em Excesso de Velocidade/Km Acumulado</div>
          <div class="col-xs-2">{{round obj.overSpeedingsXKmAcumulated 2}} </div>
          <br><br><br><br><br><br><br><br><br><br>
          <span class="col-xs-12">
            <p class="col-xs-6 text-center">
              ______________________________ <br>
              Motorista
            </p>
            <p class="col-xs-6 text-center">
              ______________________________ <br>
              Transportadora
            </p>
            <p class="col-xs-6 text-center">
              ______________________________ <br>
              Nome
            </p>
          </span>
        </td>
      </tr>
      <tr>
        <td class="corte" rowspan="1" colspan="12"></td>
      </tr>
    </tbody>
  </table>
  <div class="pagebreak"> </div>
  <!-- cabecalho do relatorio com os parametros -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="1" colspan="12">
          <h1 class="title text-center">
            Relatório de Conduta
            <span class="pull-right">
              <img src="http://safetruck.com.br/wp-content/uploads/2016/04/oie_transparent-2.png" alt="SafeTruck">
            </span>
          </h1>
        </th>
      </tr>
      <tr>
        <td rowspan="1" colspan="12"></td>
      </tr>
      <tr>
        <td rowspan="1" colspan="6" class="col-md-6">
          Placa: {{params.plaque}}
        </td>
        <td rowspan="1" colspan="6" class="col-md-6">
          Início: {{formatDate params.dtIni}} <br> Término: {{formatDate param.dtEnd}}
        </td>
      </tr>
    </thead>
  </table>
  <!-- registro de imprudencia  (velocidade) -->
  {{#if obj.overSpeedingsTotal}}
  <div class="col-xs-12">
    <div class="header col-xs-12">
      <header>{{obj.overSpeedingsTotal}} EXCESSO(S) DE VELOCIDADE </header>
    </div>
    {{#each obj.overSpeedings}}
    <div class="header col-xs-12">
      <header>VELOCIDADE MÁXIMA: {{limit}} km/h </header>
    </div>
    {{#each data}}
    <div class="col-xs-12 report item-report">
      <div class="row block">
        <div class="col-xs-1">
          <span>{{mathSum @index 1}}</span>
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-4"><span>Início</span></div>
            <div class="col-xs-8"><span>{{formatDate start}}</span></div>
          </div>
          <div class="row">
            <div class="col-xs-4"><span>Término</span></div>
            <div class="col-xs-8"><span>{{formatDate finish}}</span></div>
          </div>
          <div class="row">
            <div class="col-xs-4"><span>Velocidade Máx.</span></div>
            <div class="col-xs-8"><span>{{maxSpeed}} km/h</span></div>
          </div>
          <div class="row">
            <div class="col-xs-4"><span>Endereço</span></div>
            <div class="col-xs-8"><span>{{address}}</span></div>
          </div>
          <div class="row">
            <div class="col-xs-4"><span>Percurso</span></div>
            <div class="col-xs-8"><span>{{round distance 2}} metros</span></div>
          </div>
        </div>
        <div class="img-map col-xs-3">
          <a href="{{getOverSpeedingLink position.start position.finish}}" target="_blank">
            <img class="img-fluid pull-right" src="{{getOverSpeedingImg position.start position.finish}}">
          </a>
        </div>
      </div>
    </div>
    {{/each}} {{/each}}
  </div>
  {{/if}}
  {{#if obj.passOverDangerZones}}
  <div class="col-xs-12">
    <div class="header col-xs-12">
      <header>{{obj.passOverDangerZones}} PASSAGENS(S) POR ZONA PERIGOSA </header>
    </div>
    {{#each obj.dangerZones}}
    <div class="col-xs-12 report item-report">
      <div class="row block">
        <div class="col-xs-1">
          <span>{{mathSum @index 1}}</span>
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-4"><span>Hora</span></div>
            <div class="col-xs-8"><span>{{formatDate time}}</span></div>
          </div>
          <div class="row">
            <div class="col-xs-4"><span>Velocidade Máx.</span></div>
            <div class="col-xs-8"><span>{{maxSpeed}} km/h</span></div>
          </div>
          <div class="row">
            <div class="col-xs-4"><span>Endereço</span></div>
            <div class="col-xs-8"><span>{{address}}</span></div>
          </div>
        </div>
        <div class="img-map col-xs-3">
          <a href="{{getDangerZoneLink position}}" target="_blank">
            <img class="img-fluid pull-right" src="{{getDangerZoneImg position}}">
          </a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  <div class="pagebreak"> </div>
</div>